# .env
NODE_ENV=development
APP_URL=https://whateverurl.com
PORT=3001

# postgres database configs
PSQL_DATABASE=cricketdatabase
PSQL_HOST=localhost
PSQL_USER=cricketuser
PSQL_PASSWORD=cricketsupersecret
PSQL_PORT=5432